{% extends 'layout.html' %}
{% load thumbnail %}
{% block dashboard %}
    <table>
        <tbody>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.l_name }}</td>
                    <td>{{ customer.f_name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone_num }}</td>
                    <td><a href={% url 'customer_view' customer.id %}>Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock dashboard %}
