{% extends 'layout.html' %}
{% load thumbnail %}
{% block dashboard %}
    <h1>{{ customer }}</h1>
    {% thumbnail customer.photo_file "200x200" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    <h2>Customer Info</h2>
    <table>
        <tbody>
            <tr>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
                <td>{{ customer.phone_num }}</td>
                <td>
                    {{ customer.line_1 }}<br />
                    {{ customer.line_2 }}<br />
                    {{ customer.city }}, {{ customer.state }} {{ customer.zip_code }}
                </td>
                <td>{{ customer.email }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Packages</h2>
        <table>
            <tbody>
                <tr>
                    <th>Box Number</th>
                    <th>Tracking Number</th>
                    <th>Date Arrived</th>
                    <th>Date Picked Up</th>
                </tr>
                {% for package in packages %}
                    {% if not package.date_claimed %}
                    <tr style="background: green;">
                    {% else %}
                    <tr style="background: red;">
                    {% endif %}
                        <td>{{ package.box_num }}</td>
                        <td>{{ package.tracking_number }}</td>
                        <td>{{ package.date_arrived }}</td>
                        <td>{{ package.date_claimed }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <h2>Mailboxes</h2>
        <table>
            <thead>
                <tr>
                    <th>Box Number</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                    <th>Last Payment Date</th>
                    <th>Balance</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for mailbox in mailboxes %}
                    <tr>
                        <td>{{ mailbox.box_num }}</td>
                        <td>{{ mailbox.owner.start_date }}</td>
                        <td>{{ mailbox.owner.due_date }}</td>
                        <td>{{ mailbox.owner.last_payment_date }}</td>
                        <td>${{ mailbox.owner.balance }}</td>
                        <td>
                            <a href="{% url 'filled_transaction_view' mailbox.pk %}">Make Payment</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <h2>Transactions</h2>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Reason</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Method</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.transaction_reason }}</td>
                        <td>${{ transaction.amount }}</td>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.method }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock dashboard %}
