<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% if page_title %}
        <title>{{ page_title }}</title>
    {% else %}
        <title>Capitol Hill Mail & Parcel</title>
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'imagr_images/css/ivory.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'imagr_images/css/style.css' %}" />
    <!-- For Date picker only -->
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
</head>
<body>
    {% block dashboard %}
    {% endblock dashboard %}
</body>
</html>
